<!doctype html>
<html>
  <head>
    <title>Worktile</title>

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="app.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-messages.min.js"></script>
    <script src="worktile.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="Worktile" ng-controller="MasterController" style="padding-bottom: 15px;">
    <div class="cover" ng-show="__loading">
      <div class="outer">
        <div class="middle text-info">
          <div class="inner">
            <span class="glyphicon glyphicon-refresh glyphicon-3x fa-spin"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info wt-container">
      <div class="panel-heading wt-header">
        <img ng-show="me.uid" ng-src="{{me.avatar}}" class="wt-avatar pull-right">
        <h4 class="modal-title">{{name}}</h4>
      </div>
      <div class="panel-body">
        <div class="type-selection">
          <div class="btn-group " role="group">
            <button type="button" class="btn btn-default" ng-click="type = types.task">
              <span ng-class="type === types.task ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-unchecked'"></span> Task
            </button>
            <button type="button" class="btn btn-default" ng-click="type = types.appointment" ng-if="false">
              <span ng-class="type === types.appointment ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-unchecked'"></span> Appointment
            </button>
            <button type="button" class="btn btn-default" ng-click="type = types.post">
              <span ng-class="type === types.post ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-unchecked'"></span> Post
            </button>
            <button type="button" class="btn btn-default" ng-click="type = types.document" ng-if="false">
              <span ng-class="type === types.document ? 'glyphicon glyphicon-check' : 'glyphicon glyphicon-unchecked'"></span> Document
            </button>
          </div>
        </div>

        <form novalidate name="targetForm">
          <div class="form-group">
            <label for="name">
              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Title
            </label>
            <input required type="text" class="form-control" id="title" name="title" placeholder="Title" ng-model="target.title">
          </div>
          <div class="form-group">
            <label for="content">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Content
            </label>
            <textarea class="form-control" rows="3" name="content" placeholder="Topic content" ng-model="target.content"></textarea>
          </div>
          <fieldset class="project-selector" ng-disabled="!me.uid">
            <div class="form-group">
              <label for="pid">
                <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Project
              </label>
              <select required class="form-control" ng-model="target.pid" name="pid">
                <option ng-repeat="project in projects" value="{{project.pid}}">{{project.name}}</option>
              </select>
            </div>
            <div class="form-group" ng-show="type === types.task">
              <label for="eid">
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> List
              </label>
              <select required class="form-control" ng-model="target.eid" name="eid">
                <option ng-repeat="entry in projects[target.pid].entries" value="{{entry.entry_id}}">{{entry.name}}</option>
              </select>
            </div>
            <div class="form-group" ng-show="type === types.task">
              <label for="assignees">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Assignees
              </label>
              <select multiple class="form-control" ng-model="target.assignees" name="assignees">
                <option ng-repeat="member in projects[target.pid].members" value="{{member.uid}}">{{member.display_name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="followers">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Followers
              </label>
              <select multiple class="form-control" ng-model="target.followers" name="followers">
                <option ng-repeat="member in projects[target.pid].members" value="{{member.uid}}">{{member.display_name}}</option>
              </select>
            </div>
          </fieldset>
        </form>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-info" ng-click="me.uid ? logout() : login()">
            <span ng-class="me.uid ? 'glyphicon glyphicon-log-out' : 'glyphicon glyphicon-log-in'" aria-hidden="true"></span>
          </button>
          <button ng-show="me.uid" type="button" class="btn btn-info" ng-click="refresh()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
        </div>
        <div class="btn-group pull-right" role="group">
          <button type="button" class="btn btn-default" ng-click="copy()"><span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Copy from browser</button>
          <button ng-disabled="!me.uid || !target.pid" type="button" class="btn btn-default" ng-click="submit()"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Submit</button>
        </div>
      </div>
    </div>
<!--
    <pre>{{me | json}}</pre>

    <pre>{{post | json}}</pre>

    <pre>{{projects | json}}</pre>
-->
  </body>
</html>