body, section {
  width: 400px;
  /*overflow-x: hidden;*/
}

/* Basic style tweaks */
section { padding: 5px;}
.navbar { margin-bottom: 2px; }

/* Scroll Bar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); }
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:window-inactive  { background: red; }

.ng-hide {
    display: none;
}

.wt-header {
  border-bottom: 1px none #c0ccd7;
  background: -webkit-gradient(linear, left top, left bottom, from(#d9edf7), color-stop(100%, #fff));
}

.wt-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.clear {
  clear:both;
}

.wt-container {
  border: 1px none #c0ccd7;
}

.cover {
  z-index: 1099;
  left: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  outline: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .75);
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.glyphicon-2x {
  font-size: 2em;
}

.glyphicon-3x {
    font-size: 3em;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.input-group {
  margin-top: 5px;
}

.input-group-addon-vtop{
    vertical-align:top;
}

.panel {
  margin-bottom: 0;
}

.toolbar {
  margin-top: 5px;
}

.wt-circel-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}