<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">

    <title>Worktile</title>

    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="options.css" rel="stylesheet" media="screen">

    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-messages.min.js"></script>

    <script type="text/javascript" src="l10n/l10n-en-us.js"></script>
    <script type="text/javascript" src="l10n/l10n-zh-cn.js"></script>
    <script type="text/javascript" src="l10n/l10n-zh-tw.js"></script>
    <script type="text/javascript" src="l10n/l10n-no.js"></script>
    <script type="text/javascript" src="l10n/l10n.js"></script>
    <script type="text/javascript" src="worktile.js"></script>
    <script type="text/javascript" src="options.js"></script>
  </head>
  <body ng-app="Options" ng-controller="MasterController">
    <div class="container">
      <div class="jumbotron">
        <div class="options-area pull-right">
          <img ng-show="me.uid" ng-src="{{me.avatar}}" class="wt-avatar">
        </div>
        <h1>Worktile</h1>
        <p class="lead">{{'opt-caption' | l10n}}</p>
        <p>
          <a class="btn btn-lg btn-success" ng-href="{{logInUrl}}" role="button" ng-hide="me.uid">
            <span class="glyphicon glyphicon-log-in"></span> {{'login' | l10n}}
          </a>
          <a class="btn btn-lg btn-success" href="javascript:void(0)" role="button" ng-show="me.uid" ng-click="logout($event)">
            <span class="glyphicon glyphicon-log-out"></span> {{'logout' | l10n}}
          </a>
        </p>
      </div>
      <div class="options-container">
        <form novalidate class="form-horizontal" name="optionsForm">
          <div class="form-group">
            <label for="signature" class="col-sm-2 control-label">{{'signature-label' | l10n}}</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" id="signature" placeholder="Signature" ng-model="options.signature"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="language" class="col-sm-2 control-label">{{'language-label' | l10n}}</label>
            <div class="col-sm-10">
              <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img ng-src="{{getLocale().flag}}" alt={{getLocale().name}}> {{getLocale().name}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li ng-repeat="(key, locale) in locales" ng-click="setLocale(key)">
                    <a href="#"><img ng-src="{{locale.flag}}" alt={{locale.name}}> {{locale.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info" ng-click="save()">{{'save' | l10n}}</button>
            </div>
          </div>
        </form>
      </div>
      <footer class="footer"></footer>
    </div>
  </body>
</html>